{% extends "header.html" %}
{% block content %}
<div class="home">
	<div id="poster">
	<form method="POST">
		<formp1>
              <input id="titlee" type="text" name="wTITL" value="" placeholder="Title  .  ." required><p></p>
        </formp1>
        <formp2>
              <textarea type="text" name="wCONT" value="" placeholder="What's on your mind?  .  .  .  ." required></textarea>
        </formp2>
              <input id="sub" type="submit" value="Save Entry">
    </form>
</div>
    <div fid="final">
    <div id="master">
      {{ info }}
  </div></div>
</div>
{% endblock %}