        {% extends "header.html" %}
        {% block content %}
        <div class="home">
          <div id="accounts">
          <h2>Upload a song:</h2>
            <form method="POST" enctype=multipart/form-data>
              Song Title:
              <input type="text" name="wTITL" value="" placeholder="Title" required><p></p>
              Artist:
              <input type="text" name="wARTS" value="" placeholder="Artist"><p></p>
              Album:
              <input type="text" name="wALBM" value="" placeholder="Album"><p></p>
              Genre:
              <input type="text" name="wGENR" value="" placeholder="Genre"><p></p>
              Visibility: 
              <select name="wTYPE">
                <option value="private">Private</option>
                <option value="public">Public</option>
              </select>
              <p></p>
              <input type="file" name="file">
              <input type="submit" value="Upload">
            </form>
            <p>{{ info }}<p>
          </div></div>
        </div>
        {% endblock %}
